<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- diseño de pestaña -->
    <title>Atuendos</title>
    <link rel="icon" type="image/png" href="/images/Portada.png" />
</head>
<body>
<!-- Titulo -->
<div class = "container-fluid p-2" style = "background-color: #78c1ad;">
    <div class = "container">
        <h4 class = "text-center text-white">Calificar atuendos</h4>
    </div>
</div>

<!-- Ahora si va cada prenda -->
<div class = "container border bg-white">
    <div class = "row">
        {{#each atuendos }}
            <div class ="col-lg-4 col-md-6 col-sm-12 col-12 border">
                <div class = "m-2">
                    {{#each prendas}}
                    <div class = "p-1 border"><img src="{{imagen}}" style="width:100%;"> </div>
                    <div class = "p-1" style="font-size:100%; line-height:120%; font-style: italic">{{tipo.nombre}}</div>
                    <div class = "p-1" style="font-size:100%; line-height:120%; font-style: italic"> > {{tela.nombre}} </div>
                    {{/each}}
                    <div>
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                --><label for="radio1">★</label>
                                <input id="radio2" type="radio" name="estrellas" value="4"><!--
                                --><label for="radio2">★</label>
                                <input id="radio3" type="radio" name="estrellas" value="3"><!--
                                --><label for="radio3">★</label>
                                <input id="radio4" type="radio" name="estrellas" value="2"><!--
                                --><label for="radio4">★</label>
                                <input id="radio5" type="radio" name="estrellas" value="1"><!--
                                --><label for="radio5">★</label>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/generales.js"></script>
</body>

<div class="">
    <footer class="footer  ">
        <p> UTN FRBA 2019 - Diseño de Sistemas - ¿Qué me pongo? - Grupo 5. Copyright &copy;</p>
    </footer>
</div>
</html>

<style>
.footer {
  width: 100% !important;
  height: 20px !important;
  padding: 3px 10px !important;
  background: #E56E85 !important;
  font-family: "century gothic","arial" !important;
  color: #F7F2EF !important;
  font-size: 10px !important;
  text-align: center;
  bottom:0px !important;
  margin-top: -14px !important;
  clear:both !important;
  position: fixed; !important;
}

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

</style>
