<!DOCTYPE html>
<html>
<head>
</head>

<body>
        <h2>soy textito externo</h2>
        {{#each tipos}}
            <h2>{{nombre}}</h2>

<!--            <div class="registration_form_option" id="reg_option_1"><img src="images/.png" width="120px" height="120px"></div>-->

<!--        <tr id="tabl">-->
<!--                <div class="row">-->
<!--                        <td class="text-center" style="height: 40px; vertical-align: middle;">-->
<!--                                <a href="default.asp">-->
<!--                                        <img src="../images/sport-wardrobe-icon.jpg" style="width:30%" alt="HTML tutorial" style="width:42px;height:42px;border:0">-->
<!--                                </a>-->
<!--                                &lt;!&ndash;                        <a rel="icon" href="/images/sport-wardrobe-icon.jpg" ></a>&ndash;&gt;-->
<!--                        </td>-->
<!--                        <td id="nombre" class="text-center" style="height: 40px; vertical-align: middle;"> <a href="#">{{nombre}}</a> </td>-->
<!--                        <td class="text-center" style="height: 40px; vertical-align: middle;">-->
<!--                                <a class="btn btn-warning" href="google.com.ar"> Agregar</a>-->
<!--                                &lt;!&ndash;<a href="/usuario/{{id}}" name="button" style="margin:0px;" class="btn btn-border btn-border-blue" ><i class="far fa-eye"></i></a>&ndash;&gt;-->
<!--                                &lt;!&ndash;                        <a href="www.google.com.ar" name="button" class=" btn btn-edit"><i class="fas fa-user-edit"></i></a>&ndash;&gt;-->
<!--                                &lt;!&ndash;                        <button type="button" name="button" class="btn" onclick="confirmarEliminacion('{{id}}')"><i class="fas fa-trash"></i></button>&ndash;&gt;-->
<!--                        </td>-->
<!--                        <td class="text-center" style="height: 40px; vertical-align: middle;">-->
<!--                                <a class="btn btn-info" href="google.com.ar"> Visualizar</a>-->
<!--                        </td>-->
<!--                </div>-->
<!--        </tr>-->
        {{/each}}

<!--        <div class="registration_form_option" id="reg_option_1"><img src="images/upperBody.png" width="120px" height="120px"></div>-->
<!--        <div class="registration_form_option" id="reg_option_2"><img src="images/jeans.png" width="120px" height="120px"></div>-->
<!--        <div class="registration_form_option" id="reg_option_3"><img src="images/foot.png" width="120px" height="120px"></div>-->
<!--        <div class="registration_form_option" id="reg_option_4"><img src="images/accesories.png" width="120px" height="120px"></div>-->

<!--        <input type="checkbox" id="reg_option_1_check" name="reg_option_1_check" value="1" />-->
<!--        <input type="checkbox" id="reg_option_2_check" name="reg_option_2_check" value="2" />-->
<!--        <input type="checkbox" id="reg_option_3_check" name="reg_option_3_check" value="3" />-->
<!--        <input type="checkbox" id="reg_option_4_check" name="reg_option_4_check" value="4" />-->
</body>
</html>

