{{#partial "contenido"}}
    <header>
    </header>
    <style>
        .table-piola{
            padding: 0 10px;
        }
        .row-piola {
            display: flex;
            height: 60px;
            justify-content: space-between;
            margin: 5px 0;
        }
        .row-piola .row-piola-element{
            width: 30%;
        }
    </style>

    <h1 class="text-center p-4" style="margin: 0px !important;"> Guardarropas</h1>
    <div class="bloque-verde" style="height: 20px; width: 100%; background-color: #78C2AD !important; margin-bottom: 20px;">
    </div>
    <div class="table-piola">
        {{#each guardarropas}}
                <div class="row-piola" href="/">
                        <a class="row-piola-element" href="/guardarropas/{{@index}}"><img src="../images/sport-wardrobe-icon.jpg" style="max-width:100%; max-height:100%;"></a>
                        <a class="row-piola-element" href="/guardarropas/{{@index}}">{{nombre}}</a>
                        <a class="btn btn-outline-warning row-piola-element" href="#"> Agregar prenda</a>
                </div>
        {{/each}}
    </div>
    <table class="col-md-12 table table-hover align-center" style="height: 20px; width:100%;">
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>

{{/partial}}
{{>pagina_base.hbs}}

<style>
    .table-xs {
    width:544px;
}

.table-sm {
    width: 576px;
}

.table-md {
    width: 768px;
}

.table-lg {
    width: 992px;
}

.table-xl {
    width: 1200px;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 576px) {
    .table-sm {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .table-sm {
        width: 100%;
    }

    .table-md {
        width: 100%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .table-sm {
        width: 100%;
    }

    .table-md {
        width: 100%;
    }

    .table-lg {
        width: 100%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .table-sm {
        width: 100%;
    }

    .table-md {
        width: 100%;
    }

    .table-lg {
        width: 100%;
    }

    .table-xl {
        width: 100%;
    }
}
</style>