    <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" href="img/Logo.png">
    <link rel="stylesheet" href="/css/prendas.estilos.css">
    <title>Eventos</title>
  </head>
  <body id="body">
    <style>

    </style>
    <header>
        <img src="/img/logo.png" alt="logo" class="Logo">
        <h1  class="encabezado"><i class="fas fa-tshirt"></i>Evento</h1>
    </header>
    <div class="main_container" style="top: 100px; padding: 20px;">
    <h1>Guardarropas</h1>
    {{#each guardarropas}}
        <div>{{nombre}}</div>
    {{/each}}
    </div>
  </body>
  <script>
  </script>
</html>
