<!DOCTYPE html>
<html lang="en">
{{#partial "contenido"}}

<head>
    <title>¿ Qué me pongo ?</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/Portada"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/minty.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('img/bg-01.jpg');">
        <div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Inicio de Sesion
				</span>
            <form class="login100-form validate-form px-b-40 p-t-5" action="/guardarropas">

                <div class="form-group m-4">
                    <label class="col-form-label col-form-label-sm" for="inputSmall">Direccion Email</label>
                    <input type="email" class="form-control form-control-sm" id="inputSmall" aria-describedby="emailHelp" placeholder="Ingrese su email">
                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
                </div>

                <div class="form-group validate-input m-4" data-validate="Enter password">
                    <label for="col-form-label col-form-label-sm" for="passwordSmall">Contrase&ntildea</label>
                    <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Ingrese su contraseña">
                </div>

                <div class="container-login100-form-btn p-3 ">
                    <button class="login100-form-btn" >
                        Login
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
{{/partial}}
{{>pagina_base.hbs}}
</html>