{{#partial "contenido"}}
    <header>
        <h1 class="title">Sisdftema de Gestión Energética</h1>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" onclick="informacion()">Quiénes Somos</button>
            <a href="/mapa">
                <button type="button" class="btn btn-primary">Mapa</button>
            </a>
        </div>
    </header>

    <div class="login">
    	<article class="fondo">
    		<img src="./images/iconoM.jpg" alt="Usuario">
    		<h3>Iniciar sesión</h3>

            <form action="/login" method="post">
                
                 <div class="form-group">
                    <span class="icon-users"></span>
                        <input id="nombreDeUsuario" name="nombreDeUsuario" class="inp" type="text" placeholder="Usuario">
                </div>

                <div class="form-group">
                    <span class="icon-key2"></span>
                        <input id="contrasenia" name="contrasenia" class="inp" type="password" placeholder="Contraseña">
                </div>

                <button type="button" class="boton" onclick="buscarUsuario()">Ingresar</button>

          	</form>

    	</article>
    </div>
<script type="text/javascript" src="/js/usuarios.js"></script>
{{/partial}}
{{>pagina.hbs}}